@font-face {
    font-family: 'Lment-v02';
    src: url('../fonts/Lment-v02.woff2') format('woff2'),
        url('../fonts/Lment-v02.woff') format('woff'),
        url('../fonts/Lment-v02.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.logo {
	font-family: Lment-v02,Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
	font-size: 2rem;
	line-height: 0.5; /* Compensation d'une bizarrerie de la fonte */
	padding: 20px 10px 5px 10px;
}

.footer {
	text-align: center;
}