<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span>© Florian Harmand & Arthur Perret 2020 (<a href="mailto:florian.harmand@gmail.com,arthur.perret@u-bordeaux-montaigne.fr">contact</a>) :: Site réalisé avec <a href="http://gohugo.io">Hugo</a> :: Thème Terminal par <a href="https://twitter.com/panr">panr</a></span>
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
